<div ng-controller="PollIt.EditController">
    <form name="contentForm" novalidate val-form-manager>

        <umb-load-indicator ng-if="page.loading"></umb-load-indicator>

        <umb-editor-view ng-if="!page.loading">

            <umb-editor-header name="model.question.name" navigation="page.navigation" hide-icon="true" hide-description="true" hide-alias="true"></umb-editor-header>

            <umb-editor-container class="form-horizontal">
                <umb-editor-sub-views sub-views="page.navigation" model="model"></umb-editor-sub-views>
            </umb-editor-container>

            <umb-editor-footer>
                <umb-editor-footer-content-right>
                    <umb-button action="save()" type="button" button-style="success" state="page.saveButtonState" shortcut="ctrl+s" label="Save"
                        label-key="buttons_save" disabled="page.saveButtonState === 'busy'" />
                </umb-editor-footer-content-right>
            </umb-editor-footer>
        </umb-editor-view>
    </form>
</div>