<div ng-controller="PollIt.ResponsesController">
    <div class="umb-listview" ng-if="model.question.answers.length > 0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td style="width: 45px"></td>
                    <td>
                        <localize key="pollIt_answers">Answers</localize>
                    </td>
                    <td>
                        <localize key="pollIt_responses">Responses</localize>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="answer in model.question.answers">
                    <td>
                        {{getResponsesPercentage(answer.id)}}%
                    </td>
                    <td>
                        {{answer.value}}
                    </td>
                    <td>
                        {{getResponses(answer.id)}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <umb-empty-state ng-if="model.question.answers.length === 0" position="center">
        <p>Create answers</p>
    </umb-empty-state>
</div>